@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App {
  text-align: center;
}

.header{
  background: url('./assets/bg-1.png') no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header h1{
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  margin: 2rem 0;
  color: #334A61;
}

input, select{
  height: 36px;
  border: none;
  border-bottom: 3px solid #334A61;
  background: none;
  padding: 0 1px;
  color: #334A61;
  font-weight: 600;
}
  

input:focus, select:focus{
  outline: none;
}

.fields{
  display: flex;
  align-items: flex-end;
}

.buttons{
  margin: 2rem 0;
}

.btn{
  padding: 0.75rem 2rem;
  border: 2px solid #334A61;
  background: #334A61;
  border-radius: 8px;
  margin: 0 0.5rem;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.clear{
  background: none;
  color: #334A61;
}

#expression{
  width: 280px;
  font-size: 18px;
}

#type{
  width: 80px;
  margin-left: 1rem;
}

.canvas{
  display: block;
  margin: auto;
  height: auto;
  background: rgba(187, 206, 225, .5);
}

canvas {
  width: 100%;
  height: 100%;
}

.modal{
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal-content{
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-top: calc(15vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.modal-content h2{
  color: #334A61;
}

.modal-details{
  text-align: left;
  color: #334A61;
}

.modal-details p{
  padding-left: 12px;
}

.modal-details li{
  line-height: 20px;
  margin: 5px 0;
}

.close{
  width: 60%;
  margin: 5px 0;
}